.div-buttons{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}
.accordion-item{
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}
.accordion-card-item{
    height: 100%;
}
.new-recipe-container {
    width: 100%;
    max-width: 80rem;
    margin:   auto;
}
.form-container{
    margin: 1.4rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.recipe-main{
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-image: url('https://images.pexels.com/photos/277253/pexels-photo-277253.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}
.submit-btn{
  margin-top: 1rem;
}
.increment-btn{
  margin-bottom: 1rem;
}
.btn-left-submit{
  margin-right: 1.1rem;
}
.date-picker{
  display: flex;
  flex-direction: column;
}
.plan-container{
  margin-top: 2rem;
  
}
.nutrients-container{
  margin-top: 2rem;
  padding: 1.2rem;
}
.meals-container{
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 1.2rem;
}
.btn-see-more{
  text-align: center;
}