.recipedetails-box{
    margin-top: 30px !important;
    max-height: 100vh;
}
.badges{
    font-size: 1.3rem;;
}
 .recipe-title {
  font-size: 1.7rem;;
  font-weight: bold;
}
.recipe-summary{
    margin-top: 10px;
    font-size: 1.0rem;
}
.badge{
    margin-right: 5px;
}
.card-recipe-image{
    width:100%;
    height:320px;
    object-fit:cover;
    object-position:50% 50%;
}

h3{
    border-bottom:0.2rem solid red;  
    display: inline;
    padding-bottom: 1rem;
}
.card-similar-recipe{
    margin: 2px 0 8px 8px;
}
.similar-header{
  margin-top: 5px;
}
.badges-container{
    margin-top: 1.4rem;
}
.comment-container{
    margin-top: 1.4rem;
}
.crud-buttons{
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}
.btn-delete{
    margin-left: 0.5rem;
}
