.meal-plan-title{
    text-align: center;
}
.mealplan-container{
    margin-top: 2rem;
}
.meal-plan-card{
    margin-top: 1.2rem;
    width:100%;
    height:320px;
    object-fit:cover;
    object-position:50% 50%;
}
.mealplan-icon{
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.6rem;
}
.mealplan-icon-title{
    width:2.4rem;
    height:2.4rem;
}
.btn-see-more{
    margin-top: 0.4rem;
    background-color: #ff8e3c;
    color: #0d0d0d;
}
.btn-see-more:hover{
    background-color: #ff8e3c;
 
}
.more-btn{
    display: flex;
    justify-content:center;
    align-items: flex-end;
    margin: 10px  auto  5px auto;
 }
 .mealplan-card-deck{
    margin-left: 3.3rem;
 }


 /* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .meal-plan-card {
        /* margin-top: 1.2rem; */
        width: 100%;
        height: 320px;
        object-fit: cover;
        object-position: 50% 50%;
        margin: 1rem 1.2rem 1rem -4rem;
    }
}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .meal-plan-card {
        /* margin-top: 1.2rem; */
        width: 100%;
        height: 320px;
        object-fit: cover;
        object-position: 50% 50%;
        margin: 1rem 1.2rem 1rem -3.2rem;
    }
}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
  
}

/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
    .meal-plan-card {
        /* margin-top: 1.2rem; */
        width: 100%;
        height: 320px;
        object-fit: cover;
        object-position: 50% 50%;
        margin: 1rem 1.2rem 1rem -1.2rem;
    }
}

/* Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .meal-plan-card {
        /* margin-top: 1.2rem; */
        width: 100%;
        height: 320px;
        object-fit: cover;
        object-position: 50% 50%;
        margin: 1rem 1.2rem 1rem -1.2rem;
    }
}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

}