.authentication__header {
    color: white;
    text-align: center;
  }
.authentication {
   
   
    margin: auto;
    text-align: center;
  
}
.auth-card-container{
    width: 28rem;
    background-color: #eff0f3;
    margin: 1.5rem auto;
}
.authentication form {
    margin: 1rem;
}

.auth-main{
   
    height: 115vh;
    background-position: center;
    background-size: cover;
    background-repeat:repeat;
    background-image: url('../../assets/background.jpg');
   
   
}
.head-border{
    color:white;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .auth-card-container{
        width: 18.5rem;
        background-color: #eff0f3;
       
        
    }
    .authentication{
      
    }
    .auth-main{
        height: 220vh;
        background-position: center;
        background-size: cover;
        background-repeat:no-repeat;
        background-image: url('../../assets/background.jpg');
    }
    .head-border{
        color:black;
    }
    .image-container{
        width:100%;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .auth-card-container{
        width: 20.5rem;
        background-color: #eff0f3;
        margin: auto;
       
        
    }
    .authentication{
        margin-left: 3.2rem ;
       
    }
    .auth-main{
        height: 320vh;
        background-position: center;
        background-size: cover;
        background-repeat:no-repeat;
        background-image: url('../../assets/background.jpg');
    }
    .head-border{
        color:black;
        display: inline;
        height: 0.2rem;
    }
    .image-container{
        width:100%;
    }

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .auth-card-container{
        width: 23.5rem;
      
        background-color: #eff0f3;
        margin: auto;
       
        
    }
    .authentication{
        margin-left: 4.8rem ;
        margin-bottom: 0.4rem;
       
    }
    .auth-main{
        height: 320vh;
        background-position: center;
        background-size: cover;
        background-repeat:no-repeat;
        background-image: url('../../assets/background.jpg');
    }
    .head-border{
        color:black;
        display: none;
       
    }
    .image-container{
        width:100%;
    }


}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .authentication{
       
        margin-bottom: 0.4rem;
       
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .authentication{
        margin-left: 5.9rem ;
        margin-bottom: 1.6rem;
       
    }
    .head-border{
        color:black;
        margin: 0;
        padding:0;
       
       
    }
    .auth-card-container{
        margin: 0;
    }
    .auth-main{
        height: 320vh;
        background-position: center;
        background-size: cover;
        background-repeat:no-repeat;
        background-image: url('../../assets/background.jpg');
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .auth-card-container{
        width: 21rem;
        background-color: #eff0f3;
        margin: auto; 
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .auth-main{
        height: 450vh;
        background-position: center;
        background-size: cover;
        background-repeat:repeat;
        background-image: url('../../assets/background.jpg');
    }
    .head-border{
        color:black;
        margin: 0;
        padding:0;
        display: inline;
       
       
    }


}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .auth-card-container{
        width: 19.8rem;
        background-color: #eff0f3;
        margin: auto; 
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .auth-card-container{
        width: 19.8rem;
        background-color: #eff0f3;
        margin:0 auto 0.5rem auto; 
    }
    .head-border{
        color:black;
        margin: 0;
        padding:0;
        display: inline;
    }
    .auth-main{
        height: 450vh;
        background-position: center;
        background-size: cover;
        background-repeat:repeat;
        background-image: url('../../assets/background.jpg');
    }
}




/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .auth-card-container{
        width: 17.2rem;
        background-color: #eff0f3;
        margin: auto 1.8rem auto 0;
        font-size: 0.9rem;
      
    }
    .authentication{
        margin:auto
        
    }
    
   
    
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
    .auth-card-container{
        width: 19.8rem;
        background-color: #eff0f3;
        margin:0 auto 0.5rem auto; 
    }
    .authentication{
        margin-left: 0.4rem ;
        margin-bottom: 1.6rem;
    }
    .head-border{
        color:black;
        margin: 0;
        padding:0;
        display: none;
    }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .auth-card-container{
        width: 20.8rem;
        background-color: #eff0f3;
        margin: auto;
    }
    .authentication{
      
         margin: auto;
        
    }
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
   

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    .auth-card-container{
        width: 22.8rem;
        background-color: #eff0f3;
        margin: auto;
       
    }
    .authentication{
        
        
        
    }
}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}




/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .auth-card-container{
        width: 25.8rem;
        background-color: #eff0f3;
        margin:auto; 
    }
    .authentication{
        margin: auto ;
        
    }
    .head-border{
        color:black;
        margin: 0;
        padding:0;
       
    }
 
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .auth-main{
        height: 145vh;
        background-position: center;
        background-size: cover;
        background-repeat:repeat;
        background-image: url('../../assets/background.jpg');
    }

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .auth-main{
        height: 125vh;
        background-position: center;
        background-size: cover;
        background-repeat:repeat;
        background-image: url('../../assets/background.jpg');
    }
    .auth-card-container{
        width: 25.8rem;
        background-color: #eff0f3;
        margin:auto; 
    }
    .authentication{
        margin: auto ;
        
    }
    .head-border{
        color:black;
        margin: 0;
        padding:0;
       
    }

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {
    .auth-card-container{
        width: 22.8rem;
        background-color: #eff0f3;
       
         
    }
    .authentication{
        margin: 2rem auto ;
       max-width: 30rem;
       font-size: 1.1rem;
        
    }
    .head-border{
        color:black;
        margin: 0;
        padding:0;
       
    }
}

/* Portrait */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {

}

/* ----------- Nexus 9 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Portrait */
@media screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {

}
/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {

}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .auth-card-container{
        width: 25.8rem;
        background-color: #eff0f3;
       
         
    }
    .authentication{
        margin: 2rem auto ;
       max-width: 30rem;
       font-size: 1.1rem;
        
    }
    .head-border{
        color:black;
        margin: 0;
        padding:0;
       
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {

    .auth-main{
        height: 135vh;
        background-position: center;
        background-size: cover;
        background-repeat:repeat;
        background-image: url('../../assets/background.jpg');
    }
}
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .auth-main{
        height: 135vh;
        background-position: center;
        background-size: cover;
        background-repeat:repeat;
        background-image: url('../../assets/background.jpg');
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}
.auth-main{
    height: 135vh;
    background-position: center;
    background-size: cover;
    background-repeat:repeat;
    background-image: url('../../assets/background.jpg');
}