.more-btn{
   display: flex;
   justify-content: center;
   align-self: center;
   margin: 10px auto;


}
.title-text{
   font-size: 1.1rem;
   text-align: center;
   font-weight: bold;
}
.details{
   font-size: 0.9rem;
}