.avatar-container{
    display: flex;
    flex-direction: column;
    text-align: center;
  
}
.comments-container{
    margin-top:1.1rem;
    border: 0.2rem solid #f4f4f4; 
    border-radius: 0.4rem;
    background-color: #f8e1f4;
    max-height:fit-content;
   
}
.username{
    text-align: center;
}
.date{
    text-align: right;
    font-weight: 300;
}
.avatar-img{
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    margin-top: 1rem;
  
}
.comment-content{
   padding: 1.2rem;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   max-height: 100%;
}
p{
    text-align: left;
    word-break: break-all;
    padding-right: 1.2rem;
}