.card-box-recipes{
    margin:20px auto;
}
.recipe-box{
    margin-top: 15px ;
}
.cuisine-title{
    border-bottom: 0.2rem solid red;  
    display: inline;
    padding-bottom: 2px;
}
.cuisines-page{
    margin: 4rem auto;
}
