body{

  color: #2a2a2a;
}
.cards-container{
  margin: 2rem auto;
}
.main-logo-name{
  margin:20px auto;
  text-align: center;
  font-size: 3.8rem;
  font-family: 'Rubik Mono One', sans-serif;
  color:black;
  text-shadow: 1px 4px 2px #3CCE7F, 3px 5px 3px lightblue;
}
.cards-container{
  margin: 60px auto 20px auto;
}
.main-container{
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.borders{
 background-color: #2D2B29;
 height: 5rem;
}
.logo-container{
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.logo-container img{
  width: 3.8rem;
  height: 3.8rem;
  margin-bottom: 0.9rem;
}
.hero-icon{
  width: 4rem;
  height: 4rem;
  margin: 1.2rem auto;
}
.middle-home-container{
  margin: 3.2rem auto;
  text-align: center;
}
.footer{
  text-align: center;
  background-color: #ededed;
  height: 4rem;
  padding-top: 1.2rem;
}
.middle-title{
  border: none;
  display: block;
}
.illustration-image{
  width: 38rem;
  height: 30rem;
}
.diet-page-container{
  margin: 2.2rem auto;
}
.diet-content{
  text-align: center;
  margin: 5.1rem auto;
}
.video-container{
  margin-top: 1rem;
  width: 34rem;
  height: auto;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    nav{
      width: 100%;
    }
    .logo-container{
      width: 100%;
      font-size: 4rem;
    }
    .main-logo-name{
      font-size:2rem;
    }
    .illustration-image{
      width: 19.5rem;
      height: 22rem;
    }
    .user-avatar{
      margin: auto;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .video-container {
      width: 18rem;
      height: auto;
  }
  .logo-container img{
    width: 2.8rem;
    height: 2.8rem;
    margin-bottom: 0.9rem;
  }
  .card-deck .card {
    /* margin-bottom: 15px; */
    margin: 1rem 2.8rem 1rem 0;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .cards-container{

    margin: 1rem -7.2rem 2rem 1rem;
    }
    .video-container {
      width: 24rem;
      height: auto;
  }
  
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .video-container {
      width: 22rem;
      height: auto;
  }
  .searchbar{
    margin: auto;
 }
 .card-deck .card {
  /* margin-bottom: 15px; */
  margin: 1rem 2rem 1rem  -2.7rem;
}
small{
  font-size: 0.8rem;
  text-align: center;
  padding: 0.2rem;
}
 
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .user-card-container{
      margin: 1rem auto;
    }
   
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    small{
      font-size: 0.8rem;
      text-align: center;
      padding: 0.2rem;
    }
    .video-container {
      width: 24rem;
      height: auto;
  }
  
  .main-logo-name{
    font-size:2.5rem;
  }
  .illustration-image{
    width: 24.5rem;
    height: 22rem;
  }
  .searchbar{
    margin: auto;
 }
 .card-deck .card {
  margin: 1rem 2rem 1rem  -3.4rem;
}
 
  
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .card-deck .card {
      /* margin-bottom: 15px; */
      margin: 1rem 4.8rem 1rem -2.4rem;
  }
  small{
    font-size: 0.8rem;
    text-align: center;
    padding: 0.2rem;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .video-container {
      width: 22.5rem;
      height: auto;
  }
  .cards-container{
  overflow-x: hidden;
    margin:1.3rem 0 1.3rem 2.5rem;
  }
  .main-logo-name{
    font-size:2.5rem;
  }
  .illustration-image{
    width: 22.5rem;
    height: 22rem;
  }
  .middle-home-container p{
    font-size: 0.9rem;
    text-align: center;
    padding: 0 0.3rem;
   
  }
  .middle-title{
    font-size: 1.2rem;
  }
  .searchbar{
     margin: auto;
  }
  .diet-page-container{
    font-size: 0.9rem;
    text-align: center;
    padding: 0 0.3rem;
    
   
  }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .col-sm-3 {
      -webkit-box-flex: 0;
      margin:2rem auto;
      flex: 0 0 25%;
      max-width: 50%;
  }
  .video-container {
    margin:5.2rem auto;
    width: 22.5rem;
    height: auto;
}
.cards-container{
overflow-x: hidden;
  margin:1.3rem 0 1.3rem 2.5rem;
}
.main-logo-name{
  font-size:3.5rem;
}
.illustration-image{
  width: 22.5rem;
  height: 22rem;
  margin-top: 2.6rem;
}
.middle-home-container p{
  font-size: 0.9rem;
  text-align: center;
  padding: 0 0.3rem;
 
}
.middle-title{
  font-size: 1.2rem;
}
.searchbar{
   margin: auto;
}
.diet-page-container{
  font-size: 0.9rem;
  text-align: center;
  padding: 0 0.3rem;
  
}
.hero-icon{
  width: 2.8rem;
  height: 2.8rem;
  margin: 1.2rem auto;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}