.main-logo-name{
  margin:20px auto;
  text-align: center;
  font-size: 3.8rem;
  font-family: 'Rubik Mono One', sans-serif;
  color:black;
  text-shadow: 1px 4px 2px #3CCE7F, 3px 5px 3px lightblue;
}
.cards-container{
  margin: 60px auto 20px auto;
}
.main-container{
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.borders{
 background-color: #2D2B29;
 height: 5rem;
}
.logo-container{
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.logo-container img{
  width: 3.8rem;
  height: 3.8rem;
  margin-bottom: 0.9rem;
}
.hero-icon{
  width: 4rem;
  height: 4rem;
  margin: 1.2rem auto;
}
.middle-home-container{
  margin: 3rem auto;
  text-align: center;
}
.footer{
  text-align: center;
  background-color: #ededed;
  height: 4rem;
  padding-top: 1.2rem;
}
.middle-title{
  border: none;
}
.illustration-image{
  width: 38rem;
  height: 30rem;
}
.diet-page-container{
  margin: 2.2rem auto;
}
.diet-content{
  text-align: center;
  margin: 5.1rem auto;
}