body{

  color: #2a2a2a;
}

.main-logo-name{
  margin:20px auto;
  text-align: center;
  font-size: 3.8rem;
  font-family: 'Rubik Mono One', sans-serif;
  color:black;
  text-shadow: 1px 4px 2px #3CCE7F, 3px 5px 3px lightblue;
}
.cards-container{
  margin: 60px auto 20px auto;
}
.main-container{
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.borders{
 background-color: #2D2B29;
 height: 5rem;
}
.logo-container{
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.logo-container img{
  width: 3.8rem;
  height: 3.8rem;
  margin-bottom: 0.9rem;
}
.hero-icon{
  width: 4rem;
  height: 4rem;
  margin: 1.2rem auto;
}
.middle-home-container{
  margin: 3.2rem auto;
  text-align: center;
}
.footer{
  text-align: center;
  background-color: #ededed;
  height: 4rem;
  padding-top: 1.2rem;
}
.middle-title{
  border: none;
  display: block;
}
.illustration-image{
  width: 38rem;
  height: 30rem;
}
.diet-page-container{
  margin: 2.2rem auto;
}
.diet-content{
  text-align: center;
  margin: 5.1rem auto;
}
.video-container{
  width: 19rem;
  height: auto;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    nav{
      width: 100%;
    }
    .logo-container{
      width: 100%;
      font-size: 4rem;
    }
    .main-logo-name{
      font-size:2rem;
    }
    .illustration-image{
      width: 19.5rem;
      height: 22rem;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .video-container {
      width: 18rem;
      height: auto;
  }
  .logo-container img{
    width: 2.8rem;
    height: 2.8rem;
    margin-bottom: 0.9rem;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .cards-container{

      margin:1.3rem 0 auto 2.6rem;
    }
    .video-container {
      width: 24rem;
      height: auto;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .video-container {
      width: 22rem;
      height: auto;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
   
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .video-container {
      width: 24rem;
      height: auto;
  }
  .cards-container{

    margin:1.3rem 0 1.3rem 4.5rem;
  }
  .main-logo-name{
    font-size:2.5rem;
  }
  
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}