@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
.cuisines-page{
  
   background-color: #2D2B29;
}
.cuisine-card-box{
}
.cuisine-title{
   padding-top: 2.2rem;
   text-align: center;
   font-size: 2.6rem;
   color:red;
   font-family: 'Fjalla One', sans-serif;
}