h2{
  margin:30px auto;
  text-align: center;
  font-size: 4rem;
  font-family: 'Rubik Mono One', sans-serif;
  color:red;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
}
.cards-container{
  margin: 60px auto 20px auto;
}
.main-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.borders{
 background-color: #2D2B29;
 height: 5rem;
}