.div-buttons{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}
.accordion-item{
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}
.accordion-card-item{
    height: 100%;
}
.new-recipe-container {
    width: 100%;
    max-width: 80rem;
    margin:   auto;
  
}
.recipe-main h3{
  color:white;
}
.form-container{
  
    margin: 1.4rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
   
}
.recipe-form{
  background-color: #eff0f3;
}

.submit-btn{
  margin-top: 1rem;
 
}
.increment-btn{
  margin-bottom: 1rem;
  background-color: #ff8e3c;
  color: #0d0d0d;
}
.increment-btn:hover{
  background-color: #ff8e3c;
}
.btn-left-submit{
  margin-right: 1.1rem;
}
.date-picker{
  display: flex;
  flex-direction: column;
}
.plan-container{
  margin-top: 2rem;
  
  
}
.nutrients-container{
  margin-top: 2rem;
  padding: 1.2rem;
}
.meals-container{
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 1.2rem;
}
.btn-see-more{
  text-align: center;
}
h4{
  text-align: center;
}
.btn-date-container{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
.accordion-title-main-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.accordion-title-icon-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.accordion-title-icon-img{
  width: 1.6rem;
  height: 1.6rem;
}
.accordion-title{
  margin-top: 0.1rem;
  margin-left: 1rem;
}

.accordion-title-completed-icon{


}
.results-container{
  background-color: white;
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .btn-date-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin: 1rem auto;
  }
  .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 100%;
}
.meals-container{
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0.8rem;
}

.meals-container .card{
  width: 15.8rem !important;
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}
.recipe-form {
  background-color: #eff0f3;
  margin: 1.5rem auto;
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .recipe-form {
      background-color: #eff0f3;
      margin: 1.5rem auto;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .recipe-form {
      background-color: #eff0f3;
      margin: 1.5rem auto;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .recipe-form {
      background-color: #eff0f3;
      margin: 1.5rem auto;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}