.div-buttons{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}
.accordion-item{
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}
.accordion-card-item{
    height: 100%;
}
.new-recipe-container {
    width: 100%;
    max-width: 80rem;
    margin:   auto;
  
}
.form-container{
  
    margin: 1.4rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
   
}
.recipe-form{
  background-color: #eff0f3;
}

.submit-btn{
  margin-top: 1rem;
 
}
.increment-btn{
  margin-bottom: 1rem;
  background-color: #ff8e3c;
  color: #0d0d0d;
}
.increment-btn:hover{
  background-color: #ff8e3c;
}
.btn-left-submit{
  margin-right: 1.1rem;
}
.date-picker{
  display: flex;
  flex-direction: column;
}
.plan-container{
  margin-top: 2rem;
  
  
}
.nutrients-container{
  margin-top: 2rem;
  padding: 1.2rem;
}
.meals-container{
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 1.2rem;
}
.btn-see-more{
  text-align: center;
}
h4{
  text-align: center;
}
.btn-date-container{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
.accordion-title-main-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.accordion-title-icon-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.accordion-title-icon-img{
  width: 1.6rem;
  height: 1.6rem;
}
.accordion-title{
  margin-top: 0.1rem;
  margin-left: 1rem;
}

.accordion-title-completed-icon{


}
.results-container{
  background-color: white;
}