.recipedetails-box{
    margin-top: 30px !important;
    max-height: 100vh;
}
.badges{
    font-size: 1.3rem;
}
.recipe-image-container{
    width: 22rem;
}
 .recipe-title {
  font-size: 1.7rem;;
  font-weight: bold;
  border-bottom: 0.2rem solid red;  
  display: inline;
  padding-bottom: 2px;
}
.recipe-summary{
    margin-top: 10px;
    font-size: 1.0rem;
}
.badge{
    margin-right: 5px;
}
.card-recipe-image{
    width:100%;
    height:320px;
    object-fit:cover;
    object-position:50% 50%;
}

.card-similar-recipe{
    margin: 2px 0 8px 8px;
}
.similar-header{
  margin-top: 5px;
}
.badges-container{
    margin-top: 1.4rem;
}
.comment-container{
    margin-top: 1.4rem;
}
.crud-buttons{
  margin-top:1.2rem;
  margin-left:2.2rem;
  display: flex;
  justify-content: flex-start;
}
.btn-delete{
    margin-left: 0.5rem;
}
.like-icon{
    width: 2.1rem;
    height: 2.1rem;
    margin-left: 1.6rem;
}
.rating-fav-container{
    margin-top: 1.1rem;
    margin-left: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.rating-container{
    margin-top: 1.2rem;
    margin-left: 3.6rem;
}
.rating-container h4{
    text-align: center;
}
.ingredient-container{
    width: 22rem;
    font-size: 1.1rem;
}
.instruction-container{
    width: 46rem;
    font-size: 1.1rem;
}
.rating{
   
}
.fav-container{
    margin-top: 1rem;
    margin-left: 0.8rem;
}
.details-icon{
    margin: 1rem auto;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.detail-icon-img{
    width: 2.1rem;
    height: 2.1rem;
}
.badges{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.badge{
    font-size: 1rem;
    color: white;
    font-weight: 500;
}
tr{
    text-emphasis: center;
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .ingredient-container{
          width: 18rem;
          margin: 1rem auto;
      }
      .instruction-container{
          width: 18rem;
          margin: 1rem auto;
      }
      .avatar-img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin-top: 1rem;
    }
    .comment-content h5{
        text-align: center;
    }
    .comment-content p{
        padding:1rem;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .ingredient-container{
        width: 20rem;
        margin: 1rem auto;
    }
    .instruction-container{
        width: 20rem;
        margin: 1rem auto;
    }
    .avatar-img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-top: 1rem;
  }
  .comment-content h5{
      text-align: center;
  }
  .comment-content p{
      padding:1rem;
  }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .ingredient-container{
        width: 22rem;
        margin: 1rem auto;
    }
    .instruction-container{
        width: 22rem;
        margin: 1rem auto;
    }
    .avatar-img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-top: 1rem;
  }
  .comment-content h5{
      text-align: center;
      margin-top: 0;
  }
  .comment-content p{
      padding:1rem;
  }

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .ingredient-container{
        width: 20rem;
        margin: 1rem auto;
    }
    .instruction-container{
        width: 20rem;
        margin: 1rem auto;
    }
    .avatar-img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-top: 1rem;
  }
  .comment-content h5{
      font-size: 0.8rem;
      text-align: center;
      margin-top: 0;
  }
  .comment-content p{
      padding:1rem;
  }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .ingredient-container{
        width: 21rem;
        margin: 1rem auto;
    }
    .instruction-container{
        width: 21rem;
        margin: 1rem auto;
    }
    .avatar-img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-top: 1rem;
  }
  .comment-content h5{
      text-align: center;
      margin-top: 0;
  }
  .comment-content p{
      padding:1rem;
  }
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
      
    .ingredient-container{
        width: 22.2rem;
        margin: 1rem auto;
    }
    .instruction-container{
        width: 22.2rem;
        margin: 1rem auto;
    }
    .avatar-img {
      width: 5.2rem;
      height: 5.2rem;
      border-radius: 50%;
      margin-top: 1rem;
  }
  .comment-content h5{
      text-align: center;
      margin-top: 0;
  }
  .comment-content p{
      padding:1rem;
  }
   .recipe-title {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 0.2rem solid red;
    padding-bottom: 2px;
    }

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}
/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
    .ingredient-container{
        width: 20rem;
        margin-top: 1rem;
        margin-right: 2.5rem;
    }
    .instruction-container{
        width: 22rem;
        margin-top: 1rem;
        margin-left: 6rem;
    }
    .avatar-img {
      width: 5.2rem;
      height: 5.2rem;
      border-radius: 50%;
      margin: 1rem;
  }
  .comment-content h5{
      text-align: center;
      margin-top: 0;
  }
  .comment-content p{
      padding:1rem;
  }
  .recipe-image-container{
     width: 24.8rem;
  }
   .recipe-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-left: 0.5rem;
    border-bottom: 0.2rem solid red;
    
    }
    .badges-container{
      
      
        display: flex;
        flex-direction: row;

        

    }
    .details-icon {
        margin:1rem auto;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}