.recipe-card{
    margin:1.2rem auto;
 
}
.card-image{
    width:100%;
    height:240px;
    object-fit:cover;
    object-position:50% 50%;
 }

 .rating{
     text-align: left;
 }
.cardeck-container{
    margin-left: -2.8rem;
    

}