.recipe-card{
    margin:1.5rem;
 
}
.card-image{
    width:100%;
    height:240px;
    object-fit:cover;
    object-position:50% 50%;
 }
 .users-recipes-container{
 
 }
 .rating{
     text-align: left;
 }
 .not-found-title{
     font-size: 3rem;
     text-align: center;
 }
 .not-found-food-icon{
     width: 10rem;
     height: 10rem;
 }
 .not-found-container{
     margin: 10rem auto;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

 }